header {
    background-color: black;
    color: white;
    text-align: center;
    width: 100%;
    font-size: 150%;
    padding: 20px;
}
html, body {
    margin: 0;
    padding: 0;
    font-family: Arial,  sans-serif;
    overflow-x: hidden;
}
* {
    box-sizing: border-box;
}

.first-block {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center; 
    padding: 20px; 
}
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0;
    align-self: center;
}
.first-block img {
    border-radius: 10%;
    max-width: 600px;
    height: auto;
    margin: 20px; 
}
.me {
    background-color: black;
    color: white;
    text-align: center;
    padding: 40px;
    border-radius: 20px;
    font-size: 150%;
    margin-top: 10px;
}
.friends {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
    border-radius: 20px;
    font-size: 150%;
    margin-top: 10px;
}
h3 {
    font-size: 50px;
    text-align: center;
}
h4 {
    font-size: 50px;
    text-align: center;
}
.second-block {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-around; 
    padding: 20px; 
    
    
}
.second-block .content {
    font-size: 200%;
    color: black;
    border-radius: 20px;
    text-align: center;
    margin-bottom: 50px;
}
.second-block img {
    width: 600px;
    height: 400px;
    border-radius: 10%;
}
.third-block {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-evenly; 
    padding: 20px;
}

.third-block img {
    width: 600px;
    height: 400px;
    border-radius: 10%;
}
footer {
    text-align: center;
    padding: 10px;
    background-color: black;
    color: white;
    font-size: 30px;
}


@media (max-width: 620px){
    .first-block img {
        max-width: 350px;
        max-height: auto; 
    }
    .second-block img {
        width: 500px;
        height: 334px;
    }
    .third-block img {
        width: 500px;
        height: 334px;
    }
}
@media (max-width: 520px){
    .first-block img {
        max-width: 350px;
        max-height: auto; 
    }
    .second-block img {
        width: 400px;
        height: 234px;
    }
    .third-block img {
        width: 400px;
        height: 234px;
    }
}
@media (max-width: 420px){
    .first-block img {
        max-width: 350px;
        max-height: auto; 
    }
    .second-block img {
        width: 300px;
        height: 200px;
    }
    .third-block img {
        width: 300px;
        height: 200px;
    }
}
@media (max-width: 340px){
    .first-block img {
        max-width: 250px;
        max-height: auto;
    }
    .second-block img {
        width: 270px;
        height: 180px;
    }
    .third-block img {
        width: 270px;
        height: 180px;
    }
    h4 {
        font-size: 40px;
        text-align: center;
    }
}
